<div class="auth-container">
    <h2>Entrar no Sistema</h2>
    <form action="/login" method="POST">
        <div class="form-control">
           <label for="email">E-mail:</label> 
           <input type="email" name="email" placeholder="Digite seu E-mail..." id="">
        </div>
        <div class="form-control">
           <label for="senha">Senha:</label> 
           <input type="password" name="senha" placeholder="Digite sua senha..." id="">
        </div>
        <input type="submit" value="Entrar">
        <p>Não tem uma conta? <a href="/register">Clique aqui!</a></p>
    </form>
</div>