<section class="home" id="home">

    <div class="content">
        <h3> <span>Olá</span> Bem Vindo ao <span>Pet Mania</span></h3><br>
        <h5>O objetivo da <b>Pet Mania</b> é tornar-se especialista no ramo de pets, vamos simplificar a forma de atendimento entre cliente e estabelecimento usando todos os meios tecnológicos. </span><i class="fas fa-paw"></i><i class="fas fa-paw"></i><i class="fas fa-paw"></i> </h5>
    </div>
    <a href="/" id="logo">
            <img src="/img/Logo3.png" alt="Pet - Mania">
    </a>

    <img src="img/bottom_wave.png" class="wave" alt="">

</section>

<!-- home section ends -->

<!-- about section starts  -->

<section class="about" id="about">

    <div class="img">
        <img src="img/about_img.png" alt="">
    </div>

    <div class="content">
        <h3>Premium <span>pet food</span> Carboidratos</h3>
        <p>
            A <b>Tecnologia </b>e a <b>inovação</b> andam lado a lado, vamos solucionar as principais dores dos nossos clientes, tornando todo o processo de cadastro, atendimento, serviço dos pets e devolução dos animais de forma simples, rápida e com qualidade. 
            Nossa maior meta é ser líder e referência quando o assunto é animais, todo projeto da empresa foi idealizado para trazer valores a nossos clientes, catálogos e produtos.  
</p>
        {{!-- <a href="#" class="btn">read more</a> --}}
    </div>

</section>

<!-- about section ends -->

<!-- dog and cat food banner section starts -->

<div class="dog-food">

    <div class="img">
        <img src="img/dogpedigre.png" alt="">
    </div>

    <div class="content">
        <h3> <span>Ração Premium</span> para Cachorro </h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat iure illo, repudiandae rem porro sunt.</p>
        <div class="amount">R$15.00 - R$30.00</div>
        <a href="#"> <img src="img/shop_now_dog.png" alt="Comprar Comida para seu Cachorro"> </a>
    </div>

</div>

<div class="cat-food">

    <div class="content">
        <h3> <span>Ração Premium</span> para Gato </h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat iure illo, repudiandae rem porro sunt.</p>
        <div class="amount">R$15.00 - R$30.00</div>
        <a href="#"> <img src="img/shop_now_cat.png" alt="Comprar Comida para seu Gato"> </a>
    </div>

    <div class="img">
        <img src="img/catpedigre.png" alt="">
    </div>

</div>

<!-- dog and cat food banner section ends -->

<!-- shop section starts  -->

<section class="shop" id="shop">

    <h1 class="heading"> Todos <span> Produtos Exclusivos </span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="img">
                <img src="img/product_01.jpg" id="product_show"  alt="">
            </div>
            <div class="content">
                <h3>Sachê 100% Natural</h3>
                <div class="amount"> R$15.00 - R$30.00 </div>
            </div>
        </div>

        <div class="box">
            <div class="img">
                <img src="img/product_02.jpg" alt="">
            </div>
            <div class="content">
                <h3>Sachê 100% Natural</h3>
                <div class="amount"> R$15.00 - R$30.00 </div>
            </div>
        </div>

        <div class="box">
            <div class="img">
                <img src="img/product_03.jpg" alt="">
            </div>
            <div class="content">
                <h3>Sachê 100% Natural</h3>
                <div class="amount"> R$15.00 - R$30.00 </div>
            </div>
        </div>

        <div class="box">
            
            <div class="img">
                <img src="img/product_04.jpg" alt="">
            </div>
            <div class="content">
                <h3>Sachê 100% Natural</h3>
                <div class="amount"> R$15.00 - R$30.00 </div>
            </div>
        </div>

        <div class="box">
           
            <div class="img">
                <img src="img/product_05.jpg" alt="">
            </div>
            <div class="content">
                <h3>Sachê 100% Natural</h3>
                <div class="amount"> R$15.00 - R$30.00 </div>
            </div>
        </div>

        <div class="box">
            
            <div class="img">
                <img src="img/product_06.jpg" alt="">
            </div>
            <div class="content">
                <h3>Sachê 100% Natural</h3>
                <div class="amount"> R$15.00 - R$30.00 </div>
            </div>
        </div>

    </div>

</section>

<!-- shop section ends -->

<!-- services section starts  -->

<section class="services" id="services">

    <h1 class="heading"> Todos <span>Serviços Pet Mania</span> </h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-dog"></i>
            <h3>dog boarding</h3>
            <a href="#services" class="btn">read more</a>
        </div>

        <div class="box">
            <i class="fas fa-cat"></i>
            <h3>cat boarding</h3>
            <a href="#services" class="btn">read more</a>
        </div>

        <div class="box">
            <i class="fas fa-bath"></i>
            <h3>spa & grooming</h3>
            <a href="#services" class="btn">read more</a>
        </div>

        <div class="box">
            <i class="fas fa-drumstick-bite"></i>
            <h3>healthy meal</h3>
            <a href="#services" class="btn">read more</a>
        </div>

        <div class="box">
            <i class="fas fa-baseball-ball"></i>
            <h3>activity exercise</h3>
            <a href="#services" class="btn">read more</a>
        </div>

        <div class="box">
            <i class="fas fa-heartbeat"></i>
            <h3>health care</h3>
            <a href="#services" class="btn">read more</a>
        </div>

    </div>

</section>

<!-- services section ends -->

<!-- plan section starts  -->

<section class="plan" id="plan">

    <h1 class="heading"> Escolha o seu <span>Plano</span> </h1>

    <div class="box-container">

        <div class="box">
            <h3 class="title">Carência Pet</h3>
            <h3 class="day"> 1 dia </h3>
            <i class="fas fa-bicycle icon"></i>
            <div class="list">
                <p> pet room <span class="fas fa-check"></span> </p>
                <p> pet grooming <span class="fas fa-check"></span> </p>
                <p> pet exercise <span class="fas fa-check"></span> </p>
                <p> pet meals <span class="fas fa-check"></span> </p>
            </div>
            <div class="amount"><span>R$</span>50</div>
            <a href="#plan" class="btn"> Escolher Plano </a>
        </div>

        <div class="box">
            <h3 class="title">Carência Pet</h3>
            <h3 class="day"> 10 dias </h3>
            <i class="fas fa-motorcycle icon"></i>
            <div class="list">
                <p> pet room <span class="fas fa-check"></span> </p>
                <p> pet grooming <span class="fas fa-check"></span> </p>
                <p> pet exercise <span class="fas fa-check"></span> </p>
                <p> pet meals <span class="fas fa-check"></span> </p>
            </div>
            <div class="amount"><span>R$</span>350</div>
            <a href="#plan" class="btn"> Escolher Plano </a>
        </div>

        <div class="box">
            <h3 class="title">Carência Pet</h3>
            <h3 class="day"> 30 dias </h3>
            <i class="fas fa-car-side icon"></i>
            <div class="list">
                <p> pet room <span class="fas fa-check"></span> </p>
                <p> pet grooming <span class="fas fa-check"></span> </p>
                <p> pet exercise <span class="fas fa-check"></span> </p>
                <p> pet meals <span class="fas fa-check"></span> </p>
            </div>
            <div class="amount"><span>R$</span>650</div>
            <a href="#plan" class="btn"> Escolher Plano </a>
        </div>

    </div>

</section>

<!-- plan section ends -->

<section class="contact" id="contact">

    <div class="img_ct">
        <img src="img/contact_img.png" alt="">
    </div>

    {{!-- <form action="">
        <h3>contact us</h3>
        <input type="text" placeholder="your name" class="box">
        <input type="email" placeholder="your email" class="box">
        <input type="tumber" placeholder="your number" class="box">
        <textarea name="" placeholder="your message" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="send message" class="btn">
    </form> --}}

</section>

<section class="footer">

    <img src="img/top_wave.png" alt="">

    <div class="share">
        <a href="https://www.facebook.com/login/" class="btn"> <i class="fab fa-facebook-f"></i> facebook </a>
        <a href="https://twitter.com/i/flow/login" class="btn" target="_blank"> <i class="fab fa-twitter"></i> twitter </a>
        <a href="https://www.instagram.com/" class="btn" target="_blank"> <i class="fab fa-instagram"></i> instagram </a>
        <a href="https://www.linkedin.com/" class="btn" target="_blank"> <i class="fab fa-linkedin"></i> linkedin </a>
    </div>

    <div class="credit"> Criado por Alunos Uninove<span><br> Pet Mania  </span> 2022</div>

</section>


<script src="/js/script.js"></script>